Contracts/build/contracts/*
api/dist
api/node_modules
api/package-lock.json

NodeJS/ui-src/node_modules
NodeJS/api/node_modules
NodeJS/api/dist
NodeJS/Contracts/build
ui-src/node_modules
ui-src/build

/Java/.metadata/
/Java/.recommenders/
/Java/amlkyc/.settings/
/Java/amlkyc/target/
Java/amlkyc/.project
Java/amlkyc/.classpath
